<hibernate-configuration>
    <session-factory>
        <!--SQLite-->
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:./src/main/resources/database/serverDB.db</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="ir.sharif.aminra.models.User"/>
        <mapping class="ir.sharif.aminra.models.Group"/>
        <mapping class="ir.sharif.aminra.models.Chat"/>
        <mapping class="ir.sharif.aminra.models.ChatState"/>
        <mapping class="ir.sharif.aminra.models.media.Tweet"/>
        <mapping class="ir.sharif.aminra.models.media.Message"/>

    </session-factory>
</hibernate-configuration>